<div class="container main-container">
	<div class="row mt-5">
		<div class="col-sm-12 col-md-3 text-center">
			<form #profilepictureForm="ngForm" novalidate>
				<input type="file" class="form-control d-none" id="profile-image" (change)="handleFileInput($event.target.files)" >
				<img src="{{profilepic}}" class="profile-pic" (click)="onImgClick()">
			</form>
		</div>
		<div class="col-sm-12 col-md-9 text-center text-md-left">
			<p class="lead">{{username}}</p> 
			<p class="data-description"><b>0</b> followers</p>
			<br>
			<p class="lead">{{title}}<span *ngIf="adminAccess" (click)="changeTitleTrigger()" class="fa fa-pencil" style="margin-left:4px"></span></p>
			<div [class.d-none]="!titleChangeBox" class="title-change-box">
				<input type="text" [(ngModel)]="title" placeholder="Your new Title" value="My New Page!!">
				<button class="btn btn-dark btn-sm" (click)="changeTitle()">Change!</button>
			</div>
			<p class="small text-success" [class.d-none]="!titleChangeSuccess">Your info has been updated successfully</p>
			
			<p >{{description}}<span *ngIf="adminAccess" (click)="changeDescriptionTrigger()" class="fa fa-pencil" style="margin-left:4px"></span></p>
			<div [class.d-none]="!descriptionChangeBox" class="description-change-box">
				<input type="text" [(ngModel)]="description" placeholder="Your New Description" value="My New Page!!">
				<button class="btn btn-dark btn-sm" (click)="changeDescription()">Change!</button>
			</div>
			<p class="small text-success" [class.d-none]="!descriptionChangeSuccess">Your info has been updated successfully</p>
		</div>
	</div>

	<hr>
	<div class="tab-nav text-center mb-0">
		<p class="lead mb-0">YOUR PHOTOS</p>
	</div>
	<div class="row justify-content-left">
		<div class="col-12 col-md-4 text-center pictures my-auto" *ngFor="let pic of pictures">
			<img class="mt-4" src="{{pic}}">
		</div>
	</div>
	<br>
	<div *ngIf="adminAccess">
			<form #pictureForm="ngForm" class="text-center" novalidate >
				<input type="file" class="form-control d-none" id="image" (change)="handleFileInput($event.target.files,1)">
				<button type="submit" class="btn btn-dark" (click)="onUploadClick()">Upload Image</button>
				<p class="lead" *ngIf="uploadSuccess">Your Image has been uploaded Successfully. Refresh to see it</p>
			</form>
			<br>
			<!-- <form #deleteForm="ngForm" novalidate (ngSubmit)="deleteUser()" >
				<button type="submit" class="btn btn-danger">Delete User</button>
			</form> -->
	</div>
</div>
