<div class="container main-container">
	<div class="row mt-5">
		<div class="col-sm-12 col-md-3 text-center">
			<form #profilepictureForm="ngForm" novalidate>
				<input type="file" class="form-control d-none" id="profile-image" (change)="handleFileInput($event.target.files)" >
				<img src="{{profilepic}}" class="profile-pic" (click)="onImgClick()">
			</form>
		</div>
		<div class="col-sm-12 col-md-9 text-center text-md-left">
			<p class="lead">{{username}}</p> 
			<p class="data-description d-inline-block" style="border-right:0.5px solid #121212;padding-right:8px"><b>{{posts}}</b> posts </p> 
			<p class="data-description d-inline-block" (click)="showProfileData('followers')" style="border-right:0.5px solid #121212;padding-right:8px;padding-left:8px"><b>{{followers}}</b> followers </p>
			<p class="data-description d-inline-block" (click)="showProfileData('following')" style="padding-left: 8px"><b>{{following}}</b> following</p>
			<p class="text-info" *ngIf="showFollowersToggler" style="margin-bottom: 0">Followers: {{followersList}}</p>
			<p class="text-info" *ngIf="showFollowingToggler" style="margin-bottom: 0">Following: {{followingList}}</p>
			<br>
			<p class="lead">{{title}}<span *ngIf="adminAccess" (click)="changeTitleTrigger()" class="fa fa-pencil" style="margin-left:4px"></span></p>
			<div [class.d-none]="!titleChangeBox" class="title-change-box">
				<input type="text" [(ngModel)]="title" placeholder="Your new Title" value="My New Page!!">
				<button class="btn btn-dark btn-sm" (click)="changeTitle()">Change!</button>
			</div>
			<p class="small text-success" [class.d-none]="!titleChangeSuccess">Your info has been updated successfully</p>
			
			<p >{{description}}<span *ngIf="adminAccess" (click)="changeDescriptionTrigger()" class="fa fa-pencil" style="margin-left:4px"></span></p>
			<div [class.d-none]="!descriptionChangeBox" class="description-change-box">
				<input type="text" [(ngModel)]="description" placeholder="Your New Description" value="My New Page!!">
				<button class="btn btn-dark btn-sm" (click)="changeDescription()">Change!</button>
			</div>
			<p class="small text-success" [class.d-none]="!descriptionChangeSuccess">Your info has been updated successfully</p>
			<button class="btn btn-dark" (click)="changeFollowers(1)" *ngIf="displayFollow && !adminAccess">Follow</button>
			<button class="btn btn-light" (click)="changeFollowers(-1)" *ngIf="!displayFollow && !adminAccess">Following</button>
			<button class="btn btn-dark" *ngIf="adminAccess" (click)="showProfileData('editUploads')">Edit Uploads</button>
		</div>
	</div>

	<hr>
	<div class="tab-nav text-center mb-0">
		<p class="lead mb-0 mr-2" (click)="showProfileData('user-pics')">YOUR PHOTOS</p>
		<p class="lead mb-0 ml-2" (click)="showProfileData('notifications')" *ngIf="adminAccess">NOTIFICATIONS</p>
	</div>

	<div class="user-pics" *ngIf="!showNotifications">
		<div class="row justify-content-left">
			<div class="col-12 col-md-4 text-center pictures my-auto" *ngFor="let pic of pictures">
				<img [@showCaption]="pic.state" class="mt-4" src="{{pic.location}}" (click)="changePicState(pic)" (@showCaption.done)="showPicText($event,pic)">
				<div class="caption-encloser mt-4" [class.d-none]="pic.text=='false'" (click)="changePicState(pic)">
					<p class="lead" >{{pic.caption}}</p>
				</div>
				<button class="btn btn-danger d-inline" (click)="deletePic(pic)" *ngIf="editUploads">Delete</button>
			</div>

		</div>
		<br>
		<div *ngIf="adminAccess">
				<form #pictureForm="ngForm" class="text-center" novalidate >
					<input type="text" id="caption" [(ngModel)]="caption" placeholder="Enter Caption Here" name="caption"><br>
					<input type="file" class="form-control d-none" id="image" (change)="handleFileInput($event.target.files,1)">
					<button type="submit" class="btn btn-dark mt-2" (click)="onUploadClick()">Upload Image</button>
					<p class="lead text-success" *ngIf="uploadSuccess">Your Image has been uploaded Successfully. Refresh to see it</p>
				</form>
				<br>
				<!-- <form #deleteForm="ngForm" novalidate (ngSubmit)="deleteUser()" >
					<button type="submit" class="btn btn-danger">Delete User</button>
				</form> -->
		</div>
	</div>
	<br>
	<div class="notifications" *ngIf="showNotifications">
		<div class="text-center" *ngFor="let n of notifications_2">
			<p class="lead text-info mb-0">{{n.text}}</p>
			<p class="text-muted mt-0" style="margin-top:0;font-size: 12px;">{{n.date}}</p>
		</div>
	</div>
</div>
