<div class="container main-container">
	<div class="row mt-5">
		<div class="col-sm-12 col-md-3 text-center">
			<img src="https://www.innonthesquare.com/resourcefiles/mobilehomeimages/inn-on-the-square-falmouth-massachusetts-mobile.jpg" class="profile-pic">
		</div>
		<div class="col-sm-12 col-md-9 text-left">
			<p class="lead">The Palace</p> 
			<p class="data-description"><b>893</b> followers</p>
			<br>
			<p class="lead">The official page of the palace</p>
			<p >Keep it real.</p>
		</div>
	</div>

	<hr>
	<div class="tab-nav">
	</div>
	<div class="row justify-content-left">
		<div class="col-12 col-md-4 mt-5 text-center pictures" *ngFor="let pic of pictures">
			<img src="{{pic}}">
		</div>
	</div>
</div>
